*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: fit-content;
    font-family: 'Raleway', sans-serif;
    padding: 2em 5em;
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
}

header, main, .past-searches, footer{
    max-width: 700px;
    width: 90%;
    margin: 2em auto;
    background: rgba(255, 255, 255, 0.397);
    padding: 1em 2em;
    border-radius: 2em;
    box-shadow: 2px 4px 3px rgba(59, 59, 59);
}

h1{
    text-align: center;
}

#blue{
    color: #083f7a;
}

.search{
    display: flex;
    margin: 2em auto;
    justify-content: space-around;
}

.search-btn{
    font-size: 32px;
    padding: 1em;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s ease-out;
}

.input-val{
    outline: none;
    width: 70%;
    font-size: 36px;
    border: none;
    padding: .5em;
}

.input-val:focus{
    background: rgba(110, 109, 109, 0.699);
    color: white;
}

.search-btn:hover{
    color: white;
    background-color: #3778c2;
}

main{
    display: flex;
    justify-content: space-around;
    background: rgba(110, 109, 109, 0.699);
    align-items: center;
}

.city p{
    font-size: 2.5em;
    font-weight: 400;
}

.weather-date-temp{
    display: flex;
    flex-direction: column;
}

.temp{
    font-size: 3em;
    padding-bottom: .5em;
}

.weather{
    padding-bottom: .5em;
}

.date{
    font-size: 20px;
    font-weight: 700;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    background: none;
    padding: 0;
}

.time{
    font-size: 1.5em;
    background: rgba(110, 109, 109, 0.699);
    padding: 1em 1.5em;
    border-radius:0 2em;
    box-shadow: 2px 4px 3px rgba(59, 59, 59);
}

.description{
    font-size: 1.5em;
    background: rgba(110, 109, 109, 0.699);
    padding: 1em 1.5em;
    border-radius: 0 2em;
    box-shadow: 2px 4px 3px rgba(59, 59, 59);
}



@media screen and (max-width: 768px){
    body{
        padding: 1em 2em;
    }

    header, main, footer{
        max-width: 500px;
        width: 95%;
    }

    .search-btn{
        font-size: 24px;
    }

    .input-val{
        width: 80%;
        font-size: 24px;
    }

    main{
        flex-direction: column-reverse;
        text-align: center;
    }

    footer{
        flex-direction: column;
    }

    .time{
        margin-bottom: 1em;
    }

    
}
